html{

    margin:0;
    padding:0;
    background-color: #FEF7EC;
    background-image:
        linear-gradient(rgba(254, 247, 236, 0.1)),
        url('../img/duckback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}