html{

    margin:0;
    padding:0;
    background-color: #FEF7EC;
    background-image:
        linear-gradient(rgba(254, 247, 236, 0.1)),
        url('../img/duckback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #000000 ;
    
}

head{
    background-color: #0F1587;
}

header{
    background-color: #0F1587;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}
.fondoff{ 
    font-family: 'inter', sans-serif;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.fondon{
    background-color: #1f1f1f ;
    font-family: 'inter', sans-serif;
    color: #f6d16b;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.fondon1 {
    background-color: #000000 ;
    font-family: 'inter', sans-serif;
    color: #ff7327;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
h2 {
    text-align: center;
}

.fondon2 {
    background-color: #1f1f1f ;
    font-family: 'inter', sans-serif;
    color: #f6d16b;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.project-card {
    flex: 1;
    min-width: 250px;
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*
section {
    background-color: #224252;
    font-family: 'inter', sans-serif;
    color: white;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}*/


/*
#f6d16b jaune sylvia
#1f1f1f gris sylvia
#000000 noir sylvia
*/